
body{
    background: hsla(327, 96%, 45%, 1);

    background: linear-gradient(360deg, hsla(327, 96%, 45%, 1) 0%, hsla(29, 94%, 48%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(327, 96%, 45%, 1) 0%, hsla(29, 94%, 48%, 1) 100%);
}

h1{
    text-align: center;
}
.container {
    font-size: 40px;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
    
#answer{
font-size: 20px;
font-family: 'Patrick Hand', cursive;
text-align: center;
}

#header{
    left: 50%;
    margin-left: 200px;
    background:url(images/logo.png) no-repeat;
    width:100px;
    height:200px;
}