
body{
    background: linear-gradient(90deg,#e475b6, #75a1e4);
}
h1{
    text-align: center;
}
.container {
    font-size: 40px;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    

  }